# Data files
data/

# Model outputs
outputs/

software/

mmseqs_ahoj/

# ESM2 model weights (downloaded automatically)
~/.cache/torch/hub/

# Python
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# Conda
*.egg-info/

# Editor
.vscode/
.idea/

# Logs
*.txt
*.log
!README.md
torch_cache/
